body {
    margin: 50px;
    padding: 50px;
    background: #7777;
}

.login-form {
    width: 200px !important;
    height: auto !important; 
    position: absolute !important;
    padding: 40px 40px 15px 40px !important;
    background: #000;
    left: 35% !important;
    margin-top: 40% !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
    border: 10px dashed #4bb9b4 !important;
}

#logo {
    width: 90% !important;
    margin-left: 16% !important;
}

#velkommen {
    color: red;
    margin-left: 25% !important;
    font-family: 'Montserrat', sans-serif;
}

#tilmeld {
    color: #1f1f1f;
    margin-left: 3% !important;
    font-size: 14px;
    margin-top: 5% !important;
    font-family: 'Montserrat', sans-serif;
}

.form {
    width: 100% !important;
    position: relative;
    margin: 15px auto !important;
}

#min{
    margin-left: 20% !important;
}

input[type="email"] {
    width: 100% !important;
    height: 50px !important;
    position: relative !important;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    text-align: center !important;
    margin-bottom: 5% !important;
    border: 10px dashed #4bb9b4 !important;
}

::-webkit-input-placeholder {
  color: pink;
}

:-ms-input-placeholder {
  color: lightgrey;
}

::placeholder {
  color: lightgrey;
}

input[type="email"]:focus {
    border: 2px solid #4bb9b4 !important;
}

.fas {
    position: absolute !important;
    right: 10px !important;
    top: 0px !important;
    padding-top: 12px !important;
    color: purple !important;
}

input[type="button"] {
    width: 100%;
    height: 50px;
    background: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #1f1f1f !important;
    outline: none;
    border: 2px solid #4bb9b4 !important;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #4cb8b3 !important;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    border: none;
    margin-bottom: 5% !important;
    cursor: pointer !important;
    font-family: 'Montserrat', sans-serif;
}

input[type="button"]:hover {
  	background-color: #8accc8 !important
        /*#3e8e41*/
    ;
    opacity: 0.9;
    color: white !important;
    border: 2px solid #8accc8 !important;
}



input[type="submit"]:hover {
  	background-color: #8accc8 !important
        /*#3e8e41*/
    ;
    opacity: 0.9;
    border: 2px solid #8accc8 !important;
}

.input:hover {
    position: relative;
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #4bb9b4 !important;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: "arial";
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
}


.login-form {
    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
    animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-29 10:25:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}



@media only screen and (max-width: 600px) {
  .login-form{
    display: none !important;
  }
}
